.messageCard {
  padding: 20px;
  margin: 15px 10%;
  width: 35%;
}

.messageContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}

.messageContent p {
  padding: 5px;
}
.messageContent img {
  padding: 5px;
  width: 150px;
  height: auto;
}


.usercard {
    text-align: right;
    margin: 15px 15px 15px 55%;
    background-color: #9cb3d2;
    border: 1px solid #464c5c;

}

.otherscard {
  background-color: #c8b9a7;
  border: 1px solid #93624f;
}


.messageButtons {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
}

.bryans__class {
  margin: 20px 0px 0px 25px;
}