.searchField {
  width: 600px;
  margin: 30px auto;
  text-align: center;
}

.trailCard {
  border: 1px solid black;
  margin: 20px auto;
  padding: 10px;
  background-color: whitesmoke;
  display: flex;
  width: 600px;
}

.trailCard img {
  width: 150px;
  height: 150px;
  margin: 20px;
}

.trailCard button {
  margin: 5px;
}