.loginForm {
  width: 600px;
  margin: auto;
  border: 1px solid black;  
  padding: 10px;
  background-color: white;
  opacity: .9; 
  position: relative; 
  top: 140px;
}

.registerForm {
  width: 600px;
  margin: auto;
  border: 1px solid black;
  padding: 10px;
  background-color: white;
  opacity: .9;
  position: relative; 
  top: 140px;
 
  ;
}

 .welcomeButton {
   display: flex;
   justify-content: space-around;
   margin: 40px 40px 10px 40px;
}

.welcomeImg {
  width: 150px;
  height: auto;
}

.formTitle {
  display: flex;
  justify-content: flex-start;
}
.imgDiv {
  flex-basis: content;
}

.formTopWords {
  margin: 65px 0px 0px 5px;
}

.welcomeBackground {
  background-image: url("../../img/TakeAHikeBackgtound.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
